$bodyColor: #303A52;
$searhboxColor: #5C6375;
$themeColor: #FC85AE;
$heroColor:#5C6375;
$heroButton: #8B8E96;

// Breakpoint Widths
$xlBreak: 1200px;
$lgBreak: 992px;
$mdBreak: 768px;
$smBreak: 576px;

// Typography
$primaryFont: 1.6rem;
$mainavFont: 3.5rem;

// Text Colors
$primaryText: #fff;
$secondaryText: #F8F8F8;



// Transitions
$normalTransition: all 0.3s linear;
